/bm13-escenarios.pdf
/bm13-nonpaired.pdf
/bm13-paired.pdf
/Stats-bioinfo-intro-concordance.tex
/Stats-bioinfo-intro.R
/Stats-bioinfo-intro.Rnw.pdf
/Stats-bioinfo-intro.Rnw.synctex.gz
/Stats-bioinfo-intro.Rnw~
/Stats-bioinfo-intro.aux
/Stats-bioinfo-intro.log
/Stats-bioinfo-intro.nav
/Stats-bioinfo-intro.out
/Stats-bioinfo-intro.pdf
/Stats-bioinfo-intro.snm
/Stats-bioinfo-intro.synctex.gz
/Stats-bioinfo-intro.tex
/Stats-bioinfo-intro.toc
/auto/
/bm13escenarios-1.pdf
/bm13nonpaired-1.pdf
/bm13paired-1.pdf
/classification-clustering.tex~
/diff-exp-questions.tex~
/stats-autopsies.tex~
/tables-diff-exp-questions.tex~
